.modal-hamburger {
    z-index: 20;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    top: 0;
    width: 100%;
    height: 100%;
    right: -100%;
    transition: all 0.5s;
    &__menu {
        padding: 90px 30px 30px;
        width: 30%;
        background: rgba($lightBlue, 0.99);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &__li {
        font-size: 40px;
        color: $whiteColor;
        &-desktop-hidden {
            display: none;
        }
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    @media (max-width: $md2+px) {
        &__menu {
            width: 50%;
        }
        &__li {
            display: block;
            font-size: 30px;
            &-desktop-hidden {
                display: none;
            }
        }
    }
    @media (max-width: $md3+px) {
        &__li {
            &-desktop-hidden {
                display: block;
            }
        }
        &__menu {
            width: 65%;
        }
        &__dropdowns {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
    @media (max-width: $md4+px) {
        &__menu {
            width: 100%;
        }
    }
}