.way {
    padding-top: 32px;
    &__title {
        max-width: 517px;
        font-weight: bold;
        font-size: 64px;
        line-height: 121%;
        color: $whiteColor;
    }
    &__subtitle {
        margin-top: 16px;
        font-weight: normal;
        font-size: 24px;
        line-height: 121%;
        color: $whiteColor;
    }
    &__button {
        @include white-button;
        margin-top: 32px;
        transition: transform 0.3s;
    }
    &__wrapper {
        margin-top: 77px;
        padding: 24px 64px 34px;
        width: 100%;
        min-height: 289px;
        background: rgba(242, 242, 242, 0.7);
        border-radius: 14px;
        &-tab {
            display: flex;
            flex-wrap: wrap;
        }
        &-nav {
            display: flex;
            justify-content: space-between;
            width: 100%;
            flex-wrap: wrap;
            margin-bottom: 16px;
        }
        &-block {
            display: flex;
            flex: 0 1 821px;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        &-item {
            display: inline-flex;
            align-items: center;
            position: relative;
            font-weight: normal;
            font-size: 20px;
            line-height: 121%;
            color: $greyColor;
            cursor: pointer;
            transition: color 0.2s;
            &:not(:last-child) {
                margin-right: 10px;
            }
            @media (min-width: $md2+px) {
                &:hover {
                    span::before {
                        color: $mainColor; 
                    }
                    color: $mainColor;
                }
            }
            span {
                transition: color 0.2s;
                font-size: 26.6px;
                margin-right: 8px;
            }
        }
        &-recent {
            display: flex;
            align-items: center;
            font-weight: 600;
            font-size: 20px;
            line-height: 120.8%;
            color: $mainColor;
            cursor: pointer;
            &:after {
                content: '';
                display: inline-block;
                margin-left: 8px;
                width: 24px;
                height: 24px;
                background-image: url(../icons/arrow-right-blue.svg);
            }
        }
        &-options {
            display: flex;
            flex-wrap: wrap;
        }
        &-option {
            min-width: 270px;
            min-height: 107px;
            background: transparent;
            border-radius: 8px;
            padding: 16px;
            transition: all 0.2s;
            @media (any-hover: hover) {
                &:hover {
                    background: rgba(255, 255, 255, 0.4);
                    border-right: transparent;
                }
            }
            &:not(:last-child) {
                border-right: 1px solid rgba(0, 0, 0, 0.2);
            }
        }
        &-info {
            display: flex;
            align-items: flex-start;
        }
        &-pic {
            margin-right: 10px;
        }
        &-title {
            margin-bottom: 16px;
            font-weight: 600;
            font-size: 16px;
            line-height: 120.8%;
            color: rgba(41, 41, 41, 0.5);
        }
        &-text {
            display: inline-flex;
            align-items: center;
            font-weight: 600;
            font-size: 20px;
            line-height: 120.8%;
            color: #292929;
        }
        &-bottom {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            flex-wrap: wrap;
        }
        &-warning {
            position: relative;
            margin: 16px 16px 0 0;
            flex: 0 1 900px;
            padding: 17px 18px 17px 56px;
            min-height: 56px;
            background: rgba(255, 255, 255, 0.4);
            border-radius: 14px;
            font-weight: normal;
            font-size: 18px;
            line-height: 121%;
            color: $mainColor;
            &:before {
                position: absolute;
                background-image: url(../icons/alert-triangle.svg);
                top: 50%;
                left: 16px;
                transform: translate(0, -50%);
                content: '';
                display: block;
                width: 24px;
                height: 24px;
            }
            span {
                font-weight: 700;
                padding-bottom: 1px;
                border-bottom: 2px solid $mainColor;
            }
        }
        &-button {
            margin-top: 17px;
            @include blue-button;
            width: 208px;
            height: 56px;
            @media (any-hover: hover) {
                &:hover {
                    transform: scale(1);
                }
            }
        }
        &-inner {
            display: inline-flex;
            align-items: center;
            font-weight: 600;
            font-size: 20px;
            line-height: 121%;
            &:before {
                background-image: url(../icons/search.svg);
                content: '';
                display: inline-block;
                width: 24px;
                height: 24px;
                margin-right: 10px;
            }
        }
    }
    @media (max-width: $md1+px) {
        &__title {
            font-size: 58px;
        }
        &__wrapper {
            padding: 29px 30px;
            padding-top: 0;
            &-block {
                margin-right: 15px;
            }
            &-nav {
                min-height: 70px;
                margin-bottom: 0;
            }
        }
    }

    @media (max-width: 1086px) {
        &__wrapper {
            padding: 20px;
        }
    }

    @media (max-width: $md2+px) {
        &__title {
            font-size: 50px;
        }
        &__subtitle {
            font-size: 22px;
        }
        &__wrapper {
            margin-top: 65px;
            &-warning {
                font-size: 16px;
                margin-right: 0;
            }
            &-block {
                margin-right: 0;
            }
            &-option {
                border: 1px solid rgba(0,0,0,0.2);
                min-height: 50px;
                &:not(:last-child) {
                    margin-right: 10px;
                }
                margin-bottom: 10px;
            }
            &-item {
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
            &-recent {
                margin-bottom: 10px;
            }
        } 
    }
    @media (max-width: $md3+px) {
        &__title {
            font-size: 45px;
        }
        &__subtitle {
            font-size: 20px;
        }
        &__wrapper {
            margin-top: 50px;
            &-text {
                font-size: 17px;
                &:last-child {
                    max-width: 100%;
                }
            }
            &-warning {
                span {
                    font-size: 16px;
                    padding-bottom: 0;
                }
            }
        }
    }
    @media (max-width: $md4+px) {
        &__title {
            font-size: 36px;
            br {
                display: none;
            }
        } 
        &__wrapper {
            margin-top: 32px;
            &-option {
                min-width: 250px;
                &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                    margin-right: 0;
                }
            }
            &-tab {
                width: 100%;
            }
        }
    }
}