.hamburger-menu-active {
    right: 0;
}

.hamburger-active {
    .header__hamburger {
        &-elem {
            &:nth-child(2) {
                visibility: hidden;
                opacity: 0;
            }
            &:first-child {
                transform: translateY(11px) rotate(45deg);
            }
            &:last-child {
                transform: translateY(-11px) rotate(-45deg);
            }
        }
    }
}

.transition {
    transition: all 0.3s;
}

.dropdown-active {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
}

.way__wrapper-item-active {
    color: $mainColor;
    span::before {
        color: $mainColor;
    }
}

// стили swiper'a 

.fit {
    .swiper-slide-active {
        width: 353px;
        height: 390px;
        .fit__wrapper-text {
            font-size: 28px;
        }
        @media (max-width: $md1+px) {
            width: 280px;
            height: 340px;
            .fit__wrapper-text {
                font-size: 24px;
            }
        }
        @media (max-width: $md2+px) {
            width: 220px;
            height: 280px;
            .fit__wrapper-text {
                font-size: 18px;
            }
        }
    }
}

//hidden

.md1-hidden {
    @media (max-width: $md1+px) {
        display: none;
    }
}
.md2-hidden {
    @media (max-width: $md2+px) {
        display: none;
    }
}
.md3-hidden {
    @media (max-width: $md3+px) {
        display: none;
    }
}
.md4-hidden {
    @media (max-width: $md4+px) {
        display: none;
    }
}

// flex

.md1-flex {
    @media (max-width: $md1+px) {
        display: flex;
    }
}
.md2-flex {
    @media (max-width: $md2+px) {
        display: flex;
    }
}
.md3-flex {
    @media (max-width: $md3+px) {
        display: flex;
    }
}
.md4-flex {
    @media (max-width: $md4+px) {
        display: flex;
    }
}

//block

.md1-block {
    @media (max-width: $md1+px) {
        display: block;
    }
}
.md2-block {
    @media (max-width: $md2+px) {
        display: block;
    }
}
.md3-block {
    @media (max-width: $md3+px) {
        display: block;
    }
}
.md4-block {
    @media (max-width: $md4+px) {
        display: block;
    }
}

