@mixin blue-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 43px;
    background: $mainColor;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 128%;
    color: #FFFFFF;
    @media (min-width: $md2+px) {
        &:hover {
            transform: scale(1.02);
        }
    }
}

@mixin text-features {
    font-family: Mulish;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 128%;
    color: $whiteColor;
}

@mixin white-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 54px;
    background: $whiteColor;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    line-height: 122%;
    color: $mainColor;
    @media (min-width: $md2+px) {
        &:hover {
            transform: scale(1.02);
        }
    }
}