@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?shddaz');
  src:  url('../fonts/icomoon.eot?shddaz#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?shddaz') format('truetype'),
    url('../fonts/icomoon.woff?shddaz') format('woff'),
    url('../fonts/icomoon.svg?shddaz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Vector-Stroke-5:before {
  content: "\e900";
  color: #072f54;
}
.icon-Vector-Stroke-6:before {
  content: "\e901";
  color: #072f54;
}
.icon-instagram:before {
  content: "\ea92";
}
